bot/.vs/
bot/Debug
bot/Release
Builder/.vs/
Builder/Release/
Builder/Debug/
Builder/Builder/Release/
Builder/Builder/Debug/
DarkRatUIBuilderNative/.vs/
DarkRatUIBuilderNative/Win32/
DarkRatUIBuilderNative/Release/
DarkRatUIBuilderNative/Debug/
DarkRatUIBuilderNative/DarkRatCrypterUI/Debug/
DarkRatUIBuilderNative/DarkRatCrypterUI/Release/
plugintester/.vs
plugintester/Debug
plugintester/Release